<%=@cas_message%>

<form action="http://localhost:10021/login" method="post">
  <input type="hidden" name="lt" value="<%=@lt%>">
  <input type="hidden" name="login_method" value="local">
  <input type="hidden" name="service" value="<%=request.protocol%><%=request.host_with_port%>">
  账号:<input type="text" name="username">
  密码:<input type="password" name="password">
  <input type="submit">
</form>